@import url('./base.css');

.btn-cal-dropdown {
  background: #ffffff;
  color: #111111;
  border: 1px solid #6e6cfb;
}

.btn-cal-dropdown:hover {
  background: #6e6cfb;
  color: #ffffff;
}

.btn-arrow {
  border-top: 6px solid #111;
}

.dropdown-cal-menu {
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.dropdown-cal-menu a {
  color: #1a1a1a;
}

.dropdown-cal-menu li:hover {
  background-color: #f0f8ff;
}
